In [39]:
import requests
import json
import pandas as pd


response = requests.get('https://api.stackexchange.com/2.3/questions?order=desc&sort=activity&site=stackoverflow')
resp = response.json()['items']


print(type(resp))
print(pd.DataFrame(resp))

<class 'list'>
                                                 tags  \
0                               [c#, loops, do-while]
1                                [google-apps-script]
2                      [c#, vlc, libvlc, libvlcsharp]
3                    [reactjs, react-native, i18next]
4   [java, selenium-webdriver, google-chrome-headl...
5               [android, scale, textview, word-wrap]
6          [node.js, amazon-web-services, aws-lambda]
7   [c++, constructor, initialization, static-memb...
8                            [c++, proxy, boost-asio]
9                                 [javascript, regex]
10                                        [php, html]
11          [python, session, python-requests, proxy]
12                       [c++, struct, compare, maps]
13  [reactjs, angular, webpack-5, micro-frontend, ...
14            [angular, angularjs, angular-ui-router]
15  [r, dplyr, replace, conditional-statements, mu...
16                        [python, pandas, dataframe]
17                                     [node.js, npm]
18                       [javascript, html, r, shiny]
19                                              [c++]
20                  [laravel, command-line-interface]
21                                      [docusignapi]
22                                [svelte, sveltekit]
23                                   [c++, algorithm]
24  [windows-services, blazor-server-side, asp.net...
25          [google-ad-manager, google-publisher-tag]
26                                          [struts2]
27                                           [python]
28          [vba, vbscript, vb6, vb6-migration, vba6]
29                                           [github]

                                                owner  is_answered  \
0   {'account_id': 90082, 'reputation': 724, 'user...         True
1   {'account_id': 28786501, 'reputation': 33, 'us...         True
2   {'account_id': 19092333, 'reputation': 15, 'us...        False
3   {'account_id': 24344148, 'reputation': 633, 'u...         True
4   {'account_id': 21200527, 'reputation': 1, 'use...        False
5   {'account_id': 50308, 'reputation': 14970, 'us...         True
6   {'account_id': 6880613, 'reputation': 51, 'use...        False
7   {'account_id': 4129887, 'reputation': 519, 'us...        False
8   {'account_id': 21847, 'reputation': 11932, 'us...         True
9   {'account_id': 4293524, 'reputation': 1726, 'u...         True
10  {'account_id': 8159362, 'reputation': 37, 'use...         True
11  {'account_id': 7959389, 'reputation': 1, 'user...        False
12  {'account_id': 18694346, 'reputation': 1, 'use...         True
13  {'account_id': 22732039, 'reputation': 13, 'us...        False
14  {'account_id': 25788667, 'reputation': 65, 'us...        False
15  {'account_id': 10050389, 'reputation': 319, 'u...         True
16  {'account_id': 26598534, 'reputation': 165, 'u...        False
17  {'account_id': 14280915, 'reputation': 3555, '...        False
18  {'account_id': 15600126, 'reputation': 506, 'u...        False
19  {'account_id': 28962129, 'reputation': 1, 'use...        False
20  {'account_id': 4727578, 'reputation': 21, 'use...        False
21  {'account_id': 8228191, 'reputation': 29, 'use...        False
22  {'account_id': 28962232, 'reputation': 1, 'use...        False
23  {'account_id': 28947586, 'reputation': 1, 'use...        False
24  {'account_id': 17628380, 'reputation': 121, 'u...        False
25  {'account_id': 26842008, 'reputation': 1, 'use...        False
26  {'account_id': 15551388, 'reputation': 101, 'u...        False
27  {'account_id': 27510504, 'reputation': 1, 'use...        False
28  {'account_id': 1724182, 'reputation': 95, 'use...        False
29  {'account_id': 27500962, 'reputation': 1, 'use...        False

    view_count  answer_count  score  last_activity_date  creation_date  \
0        61369             9     28          1688641376     1269875597
1           18             2      0          1688641375     1688568450
2            1             0      0          1688641373     1688641373
3         2851             2      2          1688641371     1648385999
4            6             1      0          1688641365     1688640245
5       541312            35    984          1688641365     1297967498
6           12             0      0          1688641355     1688469328
7           28             1     -1          1688641351     1688634261
8         7839             2      8          1688641346     1342532697
9        20942            10     16          1688641341     1434928873
10        2441             1      0          1688641340     1488226459
11           3             0      0          1688641333     1688641333
12          21             1     -4          1688641329     1688639528
13          60             1      1          1688641327     1687270323
14          74             1      3          1688641314     1688638295
15          18             2      0          1688641311     1688638300
16          14             2      0          1688641311     1688639586
17          20             0      2          1688641308     1688540889
18           3             0      0          1688641301     1688641301
19           2             0      0          1688641299     1688641299
20           6             1      0          1688641295     1688640768
21          10             1      0          1688641288     1688628051
22           5             0      0          1688641287     1688641287
23           7             0     -2          1688641286     1688641205
24           6             1      0          1688641275     1688636673
25           9             1      0          1688641271     1688623775
26           4             0      0          1688641270     1688622561
27           7             0     -1          1688641266     1688641199
28          10             0      0          1688641266     1688640452
29          12             1      0          1688641264     1688636834

    last_edit_date  question_id content_license  \
0     1.513361e+09      2539009    CC BY-SA 3.0
1              NaN     76621521    CC BY-SA 4.0
2              NaN     76628141    CC BY-SA 4.0
3              NaN     71636551    CC BY-SA 4.0
4              NaN     76627992    CC BY-SA 4.0
5     1.573332e+09      5033012    CC BY-SA 4.0
6     1.688641e+09     76612046             NaN
7              NaN     76627185    CC BY-SA 4.0
8     1.688641e+09     11523829    CC BY-SA 4.0
9              NaN     30970286    CC BY-SA 3.0
10    1.488228e+09     42494933    CC BY-SA 3.0
11             NaN     76628136    CC BY-SA 4.0
12    1.688640e+09     76627908    CC BY-SA 4.0
13    1.688641e+09     76515637    CC BY-SA 4.0
14             NaN     76627746    CC BY-SA 4.0
15             NaN     76627747    CC BY-SA 4.0
16             NaN     76627915    CC BY-SA 4.0
17    1.688641e+09     76617843    CC BY-SA 4.0
18             NaN     76628131    CC BY-SA 4.0
19             NaN     76628130    CC BY-SA 4.0
20             NaN     76628059    CC BY-SA 4.0
21    1.688641e+09     76626394    CC BY-SA 4.0
22             NaN     76628128    CC BY-SA 4.0
23    1.688641e+09     76628116    CC BY-SA 4.0
24             NaN     76627522    CC BY-SA 4.0
25             NaN     76625956    CC BY-SA 4.0
26    1.688641e+09     76625848    CC BY-SA 4.0
27    1.688641e+09     76628114    CC BY-SA 4.0
28    1.688641e+09     76628018    CC BY-SA 4.0
29             NaN     76627549    CC BY-SA 4.0

                                                 link  \
0   https://stackoverflow.com/questions/2539009/do...
1   https://stackoverflow.com/questions/76621521/f...
2   https://stackoverflow.com/questions/76628141/t...
3   https://stackoverflow.com/questions/71636551/i...
4   https://stackoverflow.com/questions/76627992/s...
5   https://stackoverflow.com/questions/5033012/au...
6   https://stackoverflow.com/questions/76612046/h...
7   https://stackoverflow.com/questions/76627185/s...
8   https://stackoverflow.com/questions/11523829/h...
9   https://stackoverflow.com/questions/30970286/c...
10  https://stackoverflow.com/questions/42494933/h...
11  https://stackoverflow.com/questions/76628136/h...
12  https://stackoverflow.com/questions/76627908/c...
13  https://stackoverflow.com/questions/76515637/l...
14  https://stackoverflow.com/questions/76627746/m...
15  https://stackoverflow.com/questions/76627747/r...
16  https://stackoverflow.com/questions/76627915/h...
17  https://stackoverflow.com/questions/76617843/n...
18  https://stackoverflow.com/questions/76628131/r...
19  https://stackoverflow.com/questions/76628130/h...
20  https://stackoverflow.com/questions/76628059/h...
21  https://stackoverflow.com/questions/76626394/i...
22  https://stackoverflow.com/questions/76628128/h...
23  https://stackoverflow.com/questions/76628116/a...
24  https://stackoverflow.com/questions/76627522/h...
25  https://stackoverflow.com/questions/76625956/h...
26  https://stackoverflow.com/questions/76625848/o...
27  https://stackoverflow.com/questions/76628114/s...
28  https://stackoverflow.com/questions/76628018/g...
29  https://stackoverflow.com/questions/76627549/t...

                                                title  protected_date  \
0                             Do .. While loop in C#?             NaN
1                        Find rowIndex of currentCell             NaN
2   Trying to stream from DVB-T using libvlcsharp,...             NaN
3         i18next missing key but other key was found             NaN
4   Selenium Webdriver Headless Mode shows blank p...             NaN
5       Auto Scale TextView Text to Fit within Bounds    1.545281e+09
6   How to read XML using External Url in lambda f...             NaN
7   Seeking clarity regards C++ static member init...             NaN
8            How to add proxy support to boost::asio?             NaN
9   Convert javascript object camelCase keys to un...             NaN
10                    How to echo data as it in table             NaN
11           How do i use proxy with requests.session             NaN
12                          Compare a struct in a map             NaN
13  Load React microfrontend into Angular shell fr...             NaN
14              module build failed in angular router             NaN
15  Replace value on specific column if condition ...             NaN
16  How do I rename a dataframe index and make it ...             NaN
17  npm config list in &quot;sub-package&quot; of ...             NaN
18  Redirecting button click to a navbar tab neste...             NaN
19  how variable with data type bool accept store ...             NaN
20  How to delete controller in Laravel 10 using c...             NaN
21  Impersonated signing not picking up selected s...             NaN
22  How can I fetch datas from API and redirect a ...             NaN
23  Algorithm to find majority element in a sequen...             NaN
24  How to change URL of a Blazor server app that ...             NaN
25  How to fix this Google Ad Manager error: gpt.j...             NaN
26                             OGNL injection Struts2             NaN
27                   Sending an image to API endpoint             NaN
28                           GET value from web table             NaN
29               To add images to README.md on GitHub             NaN

    accepted_answer_id   closed_date             closed_reason
0                  NaN           NaN                       NaN
1                  NaN           NaN                       NaN
2                  NaN           NaN                       NaN
3                  NaN           NaN                       NaN
4                  NaN           NaN                       NaN
5           52772600.0           NaN                       NaN
6                  NaN  1.688591e+09  Needs details or clarity
7                  NaN           NaN                       NaN
8           11537603.0           NaN                       NaN
9           30970393.0           NaN                       NaN
10          42495153.0           NaN                       NaN
11                 NaN           NaN                       NaN
12                 NaN           NaN                       NaN
13                 NaN           NaN                       NaN
14                 NaN           NaN                       NaN
15                 NaN           NaN                       NaN
16                 NaN           NaN                       NaN
17                 NaN           NaN                       NaN
18                 NaN           NaN                       NaN
19                 NaN           NaN                       NaN
20                 NaN           NaN                       NaN
21                 NaN           NaN                       NaN
22                 NaN           NaN                       NaN
23                 NaN           NaN                       NaN
24                 NaN           NaN                       NaN
25                 NaN           NaN                       NaN
26                 NaN           NaN                       NaN
27                 NaN           NaN                       NaN
28                 NaN           NaN                       NaN
29                 NaN           NaN                       NaN

In [40]:
import pandas as pd

data = {
    '2023-07-01': 'Saturday',
    '2023-07-02': 'Sunday',
    '2023-07-03': 'Monday',
    '2023-07-04': 'Tuesday',
    '2023-07-05': 'Wednesday'
}
print("My free days!!!!\n\n")
series = pd.Series(data)
print(series)

My free days!!!!


2023-07-01     Saturday
2023-07-02       Sunday
2023-07-03       Monday
2023-07-04      Tuesday
2023-07-05    Wednesday
dtype: object

In [5]:
#the exercise

In [41]:
print("Assignment solutions")

Assignment solutions

In [42]:
# Import Libraries
import numpy as np
import pandas as pd


print("Using the work dataset")
df = pd.read_csv("Work.csv")
df

Using the work dataset

     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [43]:
#All solutions

# Question 1: Print the first few rows of the dataset using the `head()` method.
print("Question 1: Print the first few rows of the dataset")
print(df.head())

# Question 2: Print the last few rows of the dataset using the `tail()` method.
print("\n\nQuestion 2: Print the last few rows of the dataset")
print(df.tail())

# Question 3: Display information about the dataset using the `info()` method.
print("\n\nQuestion 3: Display information about the dataset")
print(df.info())

# Question 4: Remove rows with missing values (NaN) using the `dropna()` method.
print("\n\nQuestion 4: Remove rows with missing values")
df_cleaned = df.dropna()
print(df_cleaned)

# Question 5: Fill in missing values (NaN) with a specific value using the `fillna()` method.
print("\n\nQuestion 5: Fill in missing values")
df_filled = df.fillna('N/A')
print(df_filled)

# Question 6: Remove rows with wrong data or specific conditions
print("\n\nQuestion 6: Remove rows with wrong data or specific conditions")
df_cleaned = df.drop(df[(df['py-score'] == 'mine') | (df['py-score'] == 'Train')].index)
print(df_cleaned)

# Question 7: Remove duplicate rows from the dataset using the `drop_duplicates()` method.
print("\n\nQuestion 7: Remove duplicate rows from the dataset")
df_cleaned = df.drop_duplicates()
print(df_cleaned)

# Question 8: Perform correlation analysis on the dataset
print("\n\nQuestion 8: Perform correlation analysis on the dataset")
correlation_matrix = df.corr(numeric_only=True)
print(correlation_matrix)

Question 1: Print the first few rows of the dataset
     Name         city  age py-score
0    Emma      Kampala   23       90
1  Wilber        Mbale   26       75
2   Robin         Gulu   25     mine
3   Tevor  Livingstone  NaN       89
4    Yeko       Tororo   20       94


Question 2: Print the last few rows of the dataset
     Name         city    age py-score
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84


Question 3: Display information about the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7 non-null      object
 1   city      7 non-null      object
 2   age       6 non-null      object
 3   py-score  6 non-null      object
dtypes: object(4)
memory usage: 356.0+ bytes
None


Question 4: Remove rows with missing values
     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84


Question 5: Fill in missing values
     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    N/A       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      N/A
6   Jesca      Mbarara     21       84


Question 6: Remove rows with wrong data or specific conditions
     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84


Question 7: Remove duplicate rows from the dataset
     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84


Question 8: Perform correlation analysis on the dataset
Empty DataFrame
Columns: []
Index: []

In [45]:
print("Using the mine dataset")
df = pd.read_csv("mine.csv")
df

Using the mine dataset

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [48]:
#All solutions ---Mine

# Question 1: Print the first few rows of the dataset using the `head()` method.
print("Question 1: Print the first few rows of the dataset")
print(df.head())

# Question 2: Print the last few rows of the dataset using the `tail()` method.
print("\n\nQuestion 2: Print the last few rows of the dataset")
print(df.tail())

# Question 3: Display information about the dataset using the `info()` method.
print("\n\nQuestion 3: Display information about the dataset")
print(df.info())

# Question 4: Remove rows with missing values (NaN) using the `dropna()` method.
print("\n\nQuestion 4: Remove rows with missing values")
df_cleaned = df.dropna()
print(df_cleaned)

# Question 5: Fill in missing values (NaN) with a specific value using the `fillna()` method.
print("\n\nQuestion 5: Fill in missing values")
df_filled = df.fillna('N/A')
print(df_filled)

# Question 6: Remove rows with wrong data or specific conditions
print("\nQuestion 6: Remove rows with wrong data or specific conditions")
df_cleaned = df.dropna(subset=['Calories'])
print(df_cleaned)

# Question 7: Remove duplicate rows from the dataset using the `drop_duplicates()` method.
print("\n\nQuestion 7: Remove duplicate rows from the dataset")
df_cleaned = df.drop_duplicates()
print(df_cleaned)

# Question 8: Perform correlation analysis on the dataset
print("\n\nQuestion 8: Perform correlation analysis on the dataset")
correlation_matrix = df.corr(numeric_only=True)
print(correlation_matrix)

Question 1: Print the first few rows of the dataset
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0


Question 2: Print the last few rows of the dataset
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4


Question 3: Display information about the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None


Question 4: Remove rows with missing values
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]


Question 5: Fill in missing values
     Duration  Pulse  Maxpulse Calories
0          60    110       130    409.1
1          60    117       145    479.0
2          60    103       135    340.0
3          45    109       175    282.4
4          45    117       148    406.0
..        ...    ...       ...      ...
164        60    105       140    290.8
165        60    110       145    300.0
166        60    115       145    310.2
167        75    120       150    320.4
168        75    125       150    330.4

[169 rows x 4 columns]

Question 6: Remove rows with wrong data or specific conditions
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]


Question 7: Remove duplicate rows from the dataset
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]


Question 8: Perform correlation analysis on the dataset
          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000